export default {
	baseUrl: 'https://google.com/',
	serverApiToken: '',
	status: 'development',
	language: 'bahasa',
	apkVersion: '1.0.0',
	buildCode: '1400',
	// sentry: 'https://b0ad7ed5d19e4ee8a3557fc933971465@sentry.io/1698456',

	// ====== PRODUCTION ======
	// baseUrl: 'https://api.erhadna.co.id/',
	// status: 'production',
};
